<!-- <vinci-multi-panels [width]="'370px'">
  <vinci-multi-panels-item [iconClass]="'fa fa-home'" [code]="'home'" [title]="'home_title'" [class]="'home'">
    <app-panel-item-content></app-panel-item-content>
    <vinci-table style="width: 100%;" [dataSource]="tableDataSource" [columns]="columns" [displayedColumns]="displayedColumns"
      [checkable]="true" [pageable]="false">
    </vinci-table>
  </vinci-multi-panels-item>
  <vinci-multi-panels-item [iconClass]="'fa fa-info'" [code]="'info'" [title]="'info_title'" [class]="'info'">
    <h1>{{title}}</h1>
  </vinci-multi-panels-item>
</vinci-multi-panels>

<button (click)="RemoveItems();">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa remove items</button>
<button (click)="UpdateItems();">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa update items</button> -->

<!-- 
<vinci-table style="width: 100%;" [dataSource]="tableDataSource" [columns]="columns" [displayedColumns]="displayedColumns"
  [checkable]="true" [pageable]="false" (rowDblclick)="DblClick($event)">
</vinci-table> -->

<div>
  <button (click)='OpenConfirmDialog();'>OpenConfirmDialog</button>
  <button (click)='OpenCustomConfirmDialog();'>OpenCustomConfirmDialog</button>
</div>
<div>
  <button (click)='OpenNoticeDialog();'>OpenNoticeDialog</button>
</div>